version: "3.9"

services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
      target: production
    container_name: dl_backend
    ports:
      - "8000:8000"
    environment:
      ENV: production
    restart: unless-stopped


#bash 
# Build and start both services
# run the code 'docker-compose up --build' 
