version: "3.9"

services:
  backend:
    build:
      context: .
      target: test
    volumes:
      - ./src:/app/src
      - ./tests:/app/tests
    command: py src/cli.py route
    ports:
      - "8000:8000"
    environment:
      APP_ENV: development