version: "3.9"

services:
  backend:
    build:
      context: .
      target: test
    volumes:
      - ./src:/app/src
      - ./tests:/app/tests
    command: uvicorn src.routes.router:app --host 0.0.0.0 --port 8000 --reload
    ports:
      - "8000:8000"
    environment:
      APP_ENV: development